//variaveis da bolinha
let xBolinha = 300;
let yBolinha = 200;
let diametro = 30;
let velocidadeXBolinha = 4;
let velocidadeYBolinha = 4;

// variaveis da minha raquete
let xRaquete = 5; //posicao no eixo x
let yRaquete = 150; //posicao no eixo y
let larguraRaquete = 10; //largura
let alturaRaquete = 90; // altura

let colidiu = false;

//variaveis da raquete do oponente
let xRaqueteOponente = 585;
let yRaqueteOponente = 150;
let velocidadeYOponente = 0;

function setup() {
  createCanvas(600, 400);
}

function draw() {
  background("yellow");
  mostraBolinha(); //chamando a funcao
  movimentaBolinha();
  verificaColisaoBorda();
  mostraRaquete();
  movimentaRaquete();
  movimentaMouse();
  colisaoMinhaRaquete();
  mostraRaqueteOponente();
  movimentaRaqueteOponente();
  colisaoRaqueteOponente()
}

function mostraBolinha() {
  circle(xBolinha, yBolinha, diametro);
}

function movimentaBolinha() {
  xBolinha += velocidadeXBolinha;
  yBolinha += velocidadeYBolinha;
}

function verificaColisaoBorda() {
  if (xBolinha > width || xBolinha < 0) {
    velocidadeXBolinha *= -1;
  }
  if (yBolinha > height || yBolinha < 0) {
    velocidadeYBolinha *= -1;
  }
}

function mostraRaquete() {
  fill("green");
  rect(xRaquete, yRaquete, larguraRaquete, alturaRaquete);
}

function movimentaRaquete() {
  if (keyIsDown(UP_ARROW)) {
    yRaquete -= 10;
  }
  if (keyIsDown(DOWN_ARROW)) {
    yRaquete += 10;
  }
}

function movimentaMouse() {
  //uso em tablet ou pelo mouse
  if (mouseIsPressed) {
    yRaquete = mouseY;
  }
}

function colisaoMinhaRaquete() {
  colidiu = collideRectCircle(
    xRaquete,
    yRaquete,
    larguraRaquete,
    alturaRaquete,
    xBolinha,
    yBolinha,
    diametro
  );
  if (colidiu) {
    velocidadeXBolinha *= -1;
  }
}

function mostraRaqueteOponente() {
  fill("green");
  rect(xRaqueteOponente, yRaqueteOponente, larguraRaquete, alturaRaquete);
}
function movimentaRaqueteOponente() {
  velocidadeYOponente = yBolinha - yRaqueteOponente - alturaRaquete / 2;
  yRaqueteOponente += velocidadeYOponente;
}

function colisaoRaqueteOponente() {
  colidiu = collideRectCircle(
    xRaqueteOponente,
    yRaqueteOponente,
    larguraRaquete,
    alturaRaquete,
    xBolinha,
    yBolinha,
    diametro
  );
  if (colidiu) {
    velocidadeXBolinha *= -1;
  }
}